/***** Global Design *****/
* {
    color: #fff;
}

body {
    margin: 0;
    background-color: #12171c;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*****  End Global  *****/

/***** Navigation Bar *****/

.navbar {
    font-family: "MontserratRegular";
    background: #12171c;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

.navbar a {
    color: #FFF;
    display: block;
    height: 100%;
    padding: 0 30px;
}

.navbar .container {
    display: inline-block;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    text-align: center;
    height: 100%;
    height: 100%;
}

.navbar .nav-main-link {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    min-width: 125px;
    line-height: 70px;
    position: relative;
}

.nav-main-link a {
transition: color .3s;
}

.nav-main-link a:hover {
    color: #de541e;
}

.nav-main-link a:after {
    border-bottom: 3px solid #de541e;
    width: 0;
    content: '';
    height: 2px;
    transition: width .3s;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
}

.nav-main-link a:hover:after {
    width: 100%;
}


/***** End Navigation *****/

.body-content {
    font-family: "RalewayRegular";
}

#cover-image {
    background: url("../images/cover-image-1.jpg") no-repeat;
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    color: #FFF;
}

.image-overlay {
    background: rgba(18,23,28,0.7);
    z-index: 999999;
    width: 100%;
    height: 100%;
}

.banner-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    top: 30%;
    display: inline-block;
    max-width: 500px;
}

.banner-text h1 {
    text-align: center;
    font-size: 75px;
    margin: 0;
}

.banner-text h2 {
    text-align: center;
    margin-bottom: 50px;
}

.btn-curved {
    border: 1px dashed #FFF;
    padding: 10px 20px;
    border-radius: 15px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*****  End Content *****/
