/* Montserrat Font */
@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "MontserratLight";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format('truetype');
}


/*  Raleway Font  */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway/Raleway-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/Raleway/Raleway-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/Raleway/Raleway-Light.ttf") format('truetype');
}
